@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  
  --color-neon-green: #00ff88;
  --color-neon-blue: #00f0ff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo);
}
